<html>
<!DOCTYPE html>
<html>
<head></head>
<body>  
<h1>Just a simple test with RoR + THIN + NGINX + UBUNTU on EC2</h1>
<br><br><br><br>
This is just a simple html post that goes to my cel <br>
via Google Cloud Messaging. <br>
I usually use this to see if my php scripts are running ok. <br>
As you see there is no app/ruby code here just this pure html. <br><br>
<div class="content">
    <form action="http://www.pucci.eng.br/loja/php/lib/notificacoes/pucci.php" method="POST">    
<textarea  name="mensagem" maxlength="1000" cols="50" rows="15"></textarea>

        <input name="mySubmit" type="submit" value="Submit!" />
    </form>
</div>
</body>
</html>

